.btn {
    padding:15px 50px;
    border-radius:10px;
    width:220px;
    font-family: map-get($fonts, font-text );
    cursor:pointer;
        &--grey {
            background-color:map-get($background, bc-bluebell );
        }
        &:hover {
            background-color:map-get($background, bc-white );
            span {
                color: map-get($colors, c-bluebell );
            }
        }
        span {
            color: map-get($colors, c-white );
            font-size: map-get($f-size, regular );
            display:block;
            width:100%;
        }
}

.faq__other-faq {
    text-align:center;
    display:flex;
    justify-content: center;
    .btn {
        padding:25px 100px;
        width:500px;
        border:1px solid map-get($background, bc-bluebell );
    }
}
