.btn {
    padding:15px 30px;
    border-radius:10px;
    width:130px;
    font-family: map-get($fonts, font-text );
    @include breakpoint("small-dp") {
        width:220px;
        padding:15px 50px;
    }
    cursor:pointer;
        &--red {
            background-color:map-get($background, bc-red-ribbon );
        }
        &--grey {
            background-color:map-get($background, bc-bluebell );
        }
        &:hover {
            background-color:map-get($background, bc-white );
            span {
                color: map-get($colors, c-bluebell );
            }
        }
        span {
            color: map-get($colors, c-white );
            display:block;
            width:100%;
            font-size: map-get($f-size, f-xsmall );
            @include breakpoint("small-dp") {
                font-size: map-get($f-size, regular );
            }
        }
       
}

.faq__other-faq {
    text-align:center;
    display:flex;
    justify-content: center;
    .btn {
        padding:25px 100px;
        width:300px;
        border:1px solid map-get($background, bc-bluebell );
        @include breakpoint("tablet") {
            width:500px;
        }
    }
}
