* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-size:map-get($f-size, regular );
}

body {
    max-width: 1440px;
    margin:auto;
}

.siteCenter {
    width:75%;
    margin:auto;
}

.txt-center {
    text-align:center;
}

.paragraph {
    font-family: map-get($fonts, font-text );
    color: map-get($colors, c-stormgrey );
    line-height: 27px;
}

.cursor {
    cursor: pointer;
}