* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-size:map-get($f-size, regular );
}

html {
    width:100%;
}

body {
    max-width: 1440px;
    margin:auto;
}

.siteCenter {
    width:80%;
    margin:auto;
}

.txt-center {
    text-align:center;
}

.paragraph {
    font-family: map-get($fonts, font-text );
    color: map-get($colors, c-stormgrey );
    line-height: 27px;
    span {
        font-size: map-get($f-size, f-mobile-text );
        @include breakpoint("small-dp") {
            font-size: map-get($f-size, regular );
        }
    }
}

.cursor {
    cursor: pointer;
}