@font-face {
  font-family: 'poppinsregular';
  src: url('./Webfonts/Poppins/poppins-regular-webfont.woff2') format('woff2'),
       url('./Webfonts/Poppins/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
    font-family: 'dm_serif_displayregular';
    src: url('./Webfonts/DM_Serif_Display/dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('./Webfonts/DM_Serif_Display/dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'rubikregular';
  src: url('./Webfonts/Rubik/rubik-regular-webfont.woff2') format('woff2'),
       url('./Webfonts/Rubik/rubik-regular-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_serifregular';
  src: url('./Webfonts/PT_Serif/ptserif-regular-webfont.woff2') format('woff2'),
       url('./Webfonts/PT_Serif/ptserif-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  @font-face {
    font-family: 'rammetto_oneregular';
    src: url('./Webfonts/Rammetto_One/rammettoone-regular-webfont.woff2') format('woff2'),
         url('./Webfonts/Rammetto_One/rammettoone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('./Webfonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('./Webfonts/Roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}