$colors: (
    c-white: #fff,
    c-blackGrey: #626780,
    c-grey: #9397A8,
    c-black: #402B2B,
    c-red: #F01F35,
    c-palesky:#717784,
    c-emperor:#505050,
    c-bluebell:#9B9BCA,
    c-stormgrey:#696A86
);

$background: (
    bc-red: #F01F35,
    bc-black-grey: #626780,
    bc-bluebell:#9B9BCA,
    bc-light-grey: #C8C8C8,
    bc-white: #fff
);

$fonts: (
    font-text: "poppinsregular",
    font-logo-image: "rammetto_oneregular",
    font-logo-text:"robotoregular",
    font-big-title: "dm_serif_displayregular",
    font-small-title: "pt_serifregular"
);

$f-size: (
    small: 16px,
    regular: 18px,
    logo: 22px,
    title: 56px
);