.faq {
    margin-top:150px;
    &__columns {
        position:relative;
        display:block;
        @include breakpoint("tablet") {
            display:flex;
        }
    }
    &__title {
        display:inline-block;
        width:40%;
        margin-bottom:50px;
        .heading {
            width:100%;
        }
    }
    &__question-container {
        color:map-get($colors, c-black );
        font-family:map-get($fonts, font-text );
        display:flex;
        flex-direction: column;
        border-radius:23px;
        margin-bottom:10px;
    }
    .first-row {
        margin-bottom: 400px;
        box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
        @include breakpoint("tablet") {
            margin-bottom: 100px;
        }
    }
    &__left-column {
        width:100%;
        @include breakpoint("tablet") {
            justify-content: center;
            width:50%;
        }
    }
    &__right-column {
        position:static;
        width:100%;
        @include breakpoint("tablet") {
            display:flex;
            flex-direction: column;
            width:50%;
            position:relative;
        }
        div {
            .faq__image-person {
                width:100%;
            }
        }
        .faq__questions-list {
            margin-top:20px;
            transform: translate(0px, -100px);
            @include breakpoint("tablet") {
                margin-top:400px;
            }
        }
    }
    &__image {
        position:absolute;
        top:170px;
        @include breakpoint("tablet") {
            margin-top: -300px;
            top:0;
        }
    }
    &__background {
        background-image: url("./images/FAQ/backgroundCircle.svg");
        position:absolute;
        right:0px;
        z-index:-1;
        width:50%;
        height:1030px;
    }
    &__questions-list {
        width:100%;
        @include breakpoint("tablet") {
           width:90%;
        }
    }
    &__question {
        background-color:#fff;
        padding:30px 20px;
        box-shadow: 0px 5px 10px #E0E0E0;
        border-radius:23px;
        span {
            display:inline-block;
            margin-right:0px;
            width:80%;
            font-size:map-get($f-size, f-xsmall );
            @include breakpoint("tablet") {
                font-size:map-get($f-size, regular );
                margin-right:50px;
             }
        }
        .arrow-btn {
            display:inline-block;
            svg {
                width:10px;
            }
        }
    }
    &__answer {
        justify-content: center;
        padding:50px 30px;
        background-color:#F5F5FF;
        display: none;
        overflow: hidden;
        border-radius:10px;
        div {
            font-size:map-get($f-size, f-xsmall );
            @include breakpoint("tablet") {
                font-size:map-get($f-size, regular );
             }
        }
        
            
    }
}

.clicked {
    transform: rotate(90deg);
}
